#home-wapper{
    margin-top: 30px;
    font-size: 14px;
    color: black;
}
.home-header {
    background-color: #f1f1f1;
    border: 1px solid #dddddd;
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
    margin-bottom: 0px;
    padding-left: 15px;
    height: 35px;
    float: left;
    width: 100%;
}
.home-content {
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
}
#home-anouncement-other {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-left: 15px;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
    margin-bottom: 0px;
    height: 35px;
    float: left;
    width: 100%;
}
.home-fast-icon{
    margin-top: 19%;
    margin-bottom: 19%;
}
.home-title{
    color: #0073aa;
    font-weight: bold;
}
#lastest-anouncement{
    float: left;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}
#home-new{
    margin-right: 12px;
}
#latest-content{
    padding-bottom: 25px;
}
#lastest-time{
    font-size: 12px;
    color: #999999;
    float: right;
    font-style: italic;
    margin-top: 7px;
}
.other-cursor{
    float: left;
    width: 25px;
    color: white;
    padding-top: 1px;
    text-align: center;
    height: 25px;
    background-color: #dddddd;
    border-radius: 12px;
    clear: both;
}
.other-title{
    float: left;
    width: 96%;
    padding-left: 7px;
}
.other-title2{
    float: left;
    width: 91%;
    padding-left: 7px;
}
.other-row{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    color: #0073aa;
}
#ann-see-all{
    float: right;
    font-size: 12px;
    margin-right: 15px;
    text-decoration: none;
    font-weight: normal;
}
.home-tttc{
    float: left;
    margin-top: 3px;
}